

@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) 
{
.img1 {
    width: 60px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
.link-box {
    margin-left: 177px;
    margin-top: -40px;
    margin-bottom: 330px;
    padding: 0px -6px;
}
.link li {
    display: inline;
    list-style: none;
    /* margin-left: 8px; */
    /* margin-right: 8px; */
    padding-right: 12px;
}
.di1 {
    padding-left: 20px;
}
h2 {
    font-size: 18px;
    text-align: center;
}
p {
    text-align: center;
    font-size: 11px;
}
.buc1 {
    padding: 0px 4px;
    text-align: center;
}
.in1 {
    padding-left: 12px;
    padding-top: 10px;
    padding-right: 80px;
    /* margin-right: 10px; */
}
.but1 {
    padding: 11px 96px;
    position: relative;
    top: 16px;
    color: white;
    background-color: hsl(224, 93%, 58%);
}
.img2 {
    width: 325px;
    margin-left: 67px;
    top: -459px;
    position: relative;
}
.dd3 {
    margin-top: 5px;
}
.img3a {
    width: 463px;
    top: -165px;
}
.dc3 {
    background-color: hsl(240, 75%, 98%);
    margin-top: -5px;
    padding-bottom: 8px;
    padding-top: 282px;
}
.di3 {
    padding-left: 20px;
    padding-top: 100px;
}
.pi3 {
    text-decoration-line: underline;
    color: hsl(170, 45%, 43%);
}
.di4 {
    border: 2px solid white;
    max-width: 265px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    max-height: 150px;
    margin-left: 89px;
    margin-top: 50px;
    border-radius: 6px;
    background-color: white;
    padding-bottom: 20px;
}
.pp4 {
    font-size: 8px;
    margin-top: -20px;
    text-align: left;
}
.img3 {
    width: 40px;
    padding-top: 10px;
    position: relative;
    border-radius: 50%;
}
.da1 {
    padding-left: 50px;
    margin-top: -50px;
}
.img4 {
    /* float: right; */
    width: 343px;
    top: -702px;
    position: relative;
    margin-right: 59px;
}
.ot1 {
    background-color: hsl(238, 22%, 44%);
}
.dd6 {
    color: white;
    text-align: center;
    padding: 182px 83px;
}
.dd7 {
    margin-left: 0px;
    top: -156px;
    position: relative;
    padding-top: 5px;
    padding-left: 20px;
    text-align: center;
}
.in2 {
    padding-left: 17px;
    padding-top: 10px;
    padding-right: 98px;
    margin-right: 10px;
    margin-bottom: 20px;
}
.but2 {
    padding: 10px 82px;
    position: relative;
    top: -5px;
    color: white;
    background-color: hsl(224, 93%, 58%);
}
.sef {
    background-color: hsl(243, 87%, 12%);
    color: white;
}
.img6 {
    width: 100px;
    padding-top: 100px;
    padding-left: 40px;
}
.dca {
    display: block;
    justify-content: space-around;
}

}






































































































